<div id="header">
	<div id="titletext">

		<h1> RubyBB </h1>
	</div>
</div>

<div id="main">


	<div id="contentwrapper">

		<div id ="content">

			<p>
			  <strong> <font size = "20:"> <%= @thread.title %> </font> </strong> 
			</p>
			
			<p>
			  <%= @thread.text %>
			  hello
			</p>
			

			
		</div>
	</div>
</div>




 
