<div id="header">
	<div id="titletext">

		<h1>Welcome to RubyBB </h1>
	</div>
</div>

<div id="main">


	<div id="contentwrapper">

		<div id ="content">

			<p><a href="/threads">Go to the main Board</a></p>
			
		</div>
	</div>
</div>
